{% extends "index/base.html" %}
{% block body %}
{% load indextags %}
<style>
.footer { margin-top: 5em; }
.footer a {
    color: gray;
    text-decoration: none;
}
video, audio {
    width: 100%;
}
</style>
<h2>{{base}}</h2>

{% if type == 'video' %}
<video controls>
    {% for f in media %}
    <source src="{{f.url}}" type="{{f.content_type}}" />
    {% endfor %}
</video>
{% elif type == 'audio' %}
<audio controls>
    {% for f in media %}
    <source src="{{f.url}}" type="{{f.content_type}}" />
    {% endfor %}
</audio>
{% endif %}

<!-- parent -->
<h5><a href="{% url 'files:path' file.parent.slug file.parent.relpath %}">{{file.parent.name}}</a></h5>
<div>{{file.parent.description|markdown}}</div>

<div class="footer">Sources:
    <ul>
    {% for f in media %}
    <li><a href="{{f.url}}">{{f.url}}</a></li>
    {% endfor %}
    </ul>
</div>

{% endblock %}